* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%; /* 1rem = 10px */

    --primary-color: #1b1c1c;
    --second-color: #ed4912;
    --light-color: #f9f6eecf;
    --shadow: #222222d4;
    --width-auto: auto;
}

html {
    scroll-behavior: smooth;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--primary-color);
}

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background: var(--second-color);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background: var(--second-color);
}

main {
    width: 100%;
    height: 100%;
    background-image: url(/assets/back.png);
    background-repeat: repeat;
}

/* Header */
header {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header .header-logo img {
    max-width: 300px;
}

header .header-sub {
    color: var(--light-color);
    text-transform: uppercase;
    font-style: italic;
    text-align: center;
    margin: 10px 0 5px 0;
}

header .header-text {
    max-width: 300px;
    color: var(--second-color);
    text-align: center;
    margin: 5px 0 35px 0;
}

.button-section {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button-section-small {
    margin-top: 20px;
    width: 300px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    
}

button {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 17px 17px;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  background-color: var(--primary-color);
  border: 1px solid rgb(237, 75, 19);
  border-radius: 50px;
  color: var(--second-color);
  font-weight: 400;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.button-section-small button {
  width: 80px;
  height: 80px;
  position: relative;
  margin: 0;
  padding: 17px 17px;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  background-color: var(--second-color);
  border: 0;
  border-radius: 12px;
  color: var(--primary-color);
  font-weight: 400;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  box-shadow: inset 0 0 10px #00000078;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

button span {
  color: var(--second-color);
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.7px;
}

.button-section-small button {
  color: var(--primary-color);
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0.7px;
}

.button-section-small button img {
  max-width: 30px;
}

button:hover {
  animation: rotate624 0.7s ease-in-out both;
  background-color: var(--second-color);
}


button:hover span {
  animation: storm1261 0.7s ease-in-out both;
  animation-delay: 0.06s;
  font-style: italic;
  color: var(--primary-color);
}

@keyframes rotate624 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes storm1261 {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }

  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }

  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }

  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }

  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

.btn-shine {
  border: 1px solid;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 0px;
}

.btn-shine span {
  z-index: 20;
}

.btn-shine span i {
  font-size: 15px;
}

.btn-shine img {
    max-width: 20px;
}

.btn-shine:after {
  background: var(--second-color);
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.4;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}

.btn-shine:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

header .section-logo img {
    max-width: 50px;
    display: flex;
    margin: 20px auto 0 auto;
}

header .header-footer-text {
    position: absolute;
    color: var(--second-color);
    text-align: center;
    font-size: 0.7rem;
    bottom: 125px;
    right: 110px;
}

header .social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--second-color);
    gap: 30px;
    font-size: 1.3rem;
    margin-top: 0px;
}

header .social-media-insta,
header .social-media-strava {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--second-color);
    gap: 5px;
    font-size: 1.3rem;
    margin-top: 50px;
}
