* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%; /* 1rem = 10px */

    --primary-color: #1b1c1c;
    --second-color: #ed4b13;
    --light-color: #f9f6eecf;
    --shadow: #222222d4;
    --width-auto: auto;
}

html {
    scroll-behavior: smooth;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--primary-color);
}

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background: var(--second-color);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background: var(--second-color);
}

main {
    width: 100%;
    height: 100%;
    background-image: url(/assets/bg.png);
    background-repeat: repeat;
}

/* Header */
header {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header .header-logo img {
    max-width: 300px;
}

header .header-text {
    color: var(--light-color);
    text-transform: uppercase;
    font-style: italic;
    text-align: center;
    margin: 10px 0 35px 0;
}

header .section-logo img {
    max-width: 250px;
}

header .header-footer-text {
    position: absolute;
    color: var(--second-color);
    text-align: center;
    font-size: 0.7rem;
    bottom: 125px;
    right: 110px;
}

header .social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--second-color);
    gap: 30px;
    font-size: 1.3rem;
    margin-top: 30px;
}

header .social-media-insta,
header .social-media-strava {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--second-color);
    gap: 5px;
    font-size: 1.3rem;
    margin-top: 50px;
}
